In [188]:
import numpy as np

In [189]:
import pandas as pd

In [190]:
import matplotlib.pyplot as plt

In [191]:
df = pd.read_csv('imdb_master.csv', encoding = "ISO-8859-1")

In [192]:
df.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

In [193]:
del df['Unnamed: 0']

In [194]:
del df['file']

In [195]:
df = df.loc[0:49999]

In [196]:
a = df['label'].value_counts()

In [197]:
a

pos    25000
neg    25000
Name: label, dtype: int64

In [198]:
df.head()
df = df.sample(frac=1).reset_index(drop=True)

In [199]:
train = df.loc[0:34999]

In [200]:
test = df.loc[35000:]

In [201]:
del train['type']
del test['type']

In [202]:
train.head()

                                              review label
0  One type of western I greatly enjoy is when th...   pos
1  I had never heard about this movie when it was...   pos
2  I was very excited to see that they had made a...   neg
3  Love is overwhelming... In all it's manifestat...   pos
4  OK, I wanted to see this because it had a few ...   neg

In [203]:
test.head()

                                                  review label
35000  The Beguiled was one of the few early Eastwood...   pos
35001  There is really but one thing to say about thi...   neg
35002  A romp across a disbelieving outback, this out...   neg
35003  Far from providing the caffeine kick you'd exp...   neg
35004  One of the classic low budget 70's movies, thi...   pos

In [204]:
train_data = train['review']

In [205]:
test_data = test['review']

In [206]:
train_labels = train['label']

In [207]:
test_labels = test['label']

In [208]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [209]:
X_train_dtm = vect.fit_transform(train_data)
X_test_dtm = vect.transform(test_data)

In [210]:
train_labels = train_labels.map({'pos': 1, 'neg': 0})

In [211]:
test_labels = test_labels.map({'pos': 1, 'neg': 0})

In [212]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [213]:
nb.fit(X_train_dtm, train_labels)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [214]:
y_pred_class = nb.predict(X_test_dtm)

In [215]:
from sklearn import metrics
metrics.accuracy_score(test_labels, y_pred_class)

0.8481333333333333

In [216]:
metrics.confusion_matrix(test_labels, y_pred_class)

array([[6566,  905],
       [1373, 6156]])

In [217]:
#Bad reviews classified as Good reviews
test_data[test_labels < y_pred_class].head(10)

35002    A romp across a disbelieving outback, this out...
35005    Isaac Florentine has made some of the best wes...
35027    There is a lot to like here. The actors are fi...
35051    An accurate review of nuremburg must consider ...
35052    Joan Fontaine is swept off her feet by the sua...
35054    Realty television crew are assigned to cover a...
35055    Despite some moments in heavy rain, an encount...
35071    When 'My Deja Vu, My Deja Vu' aired last seaso...
35085    Pokemon 3 is little more than three or four ep...
35102    The first half hour or so of this movie I like...
Name: review, dtype: object

In [218]:
test_data[35002]

"A romp across a disbelieving outback, this outragous adventure enchants through it's downright brazeness. Comedy from the clashing confrontation of cultural assumptions - as Drama from Crisis. Perhaps a little too Queenie for some - I would love to have watched IN a cinema audience in the outback. Shockingly good"

In [219]:
#Good reviews classified as Bad reviews
test_data[test_labels > y_pred_class].head(10)

35004    One of the classic low budget 70's movies, thi...
35021    Not a bad word to say about this film really. ...
35025    Barney is about "IMAGINATION" what you guys do...
35026    I actually flipped to Lifetime channel by mist...
35044    Four teenage girlfriends drive to Fort Laurdal...
35067    It appears even the director doesn't like this...
35070    The Last Dinosaur is a film that is meant to b...
35080    The silly saying, "You can't touch this" surel...
35090    To quote Flik, that was my reaction exactly: W...
35092    I must confess that I was completely shocked b...
Name: review, dtype: object

In [220]:
test_data[35004]

"One of the classic low budget 70's movies, this film was found in a bargain video shop in London for only 50p. (interestingly, the package lists the star of the film as 'Charles Bone', who sounds like a porn star, but once the credits role it's obvious that the picture is aligned to far the right of the TV screen, so that all the cast members have the last letter missing from their names)<br /><br />From the moment the narrator lamely introduces us to the situation that the desperate tenants of a grimy New York City apartment block, you know you're in for a rollercoaster ride of fromage. The direction is from the 'Ed Wood one-take' school - if one or two extras were looking at the camera crew, then what the hell?<br /><br />The films finishes with a plot twist that puts The Usual Suspects to shame. Buy it now."