In [1]:
import pandas as pd

df = pd.read_csv('imdb_master.csv', encoding = "ISO-8859-1")

In [2]:
df.head(10)

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt
5,5,test,"A funny thing happened to me while watching ""M...",neg,10004_2.txt
6,6,test,This German horror film has to be one of the w...,neg,10005_2.txt
7,7,test,"Being a long-time fan of Japanese film, I expe...",neg,10006_2.txt
8,8,test,"""Tokyo Eyes"" tells of a 17 year old Japanese g...",neg,10007_4.txt
9,9,test,Wealthy horse ranchers in Buenos Aires have a ...,neg,10008_4.txt

In [3]:
#Plot stars clomun to get some idea about its distribution
print(df["label"])

0          neg
1          neg
2          neg
3          neg
4          neg
5          neg
6          neg
7          neg
8          neg
9          neg
10         neg
11         neg
12         neg
13         neg
14         neg
15         neg
16         neg
17         neg
18         neg
19         neg
20         neg
21         neg
22         neg
23         neg
24         neg
25         neg
26         neg
27         neg
28         neg
29         neg
         ...
99970    unsup
99971    unsup
99972    unsup
99973    unsup
99974    unsup
99975    unsup
99976    unsup
99977    unsup
99978    unsup
99979    unsup
99980    unsup
99981    unsup
99982    unsup
99983    unsup
99984    unsup
99985    unsup
99986    unsup
99987    unsup
99988    unsup
99989    unsup
99990    unsup
99991    unsup
99992    unsup
99993    unsup
99994    unsup
99995    unsup
99996    unsup
99997    unsup
99998    unsup
99999    unsup
Name: label, Length: 100000, dtype: object

In [4]:
X = df.review
y = df.label

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [6]:
print(y_train)

73645    unsup
4480       neg
95934    unsup
57891    unsup
76925    unsup
82459    unsup
74127    unsup
62005    unsup
53101    unsup
93251    unsup
31335      neg
84608    unsup
12178      neg
80046    unsup
63442    unsup
67278    unsup
58470    unsup
73544    unsup
47169      pos
53326    unsup
64651    unsup
37977      pos
33126      neg
84368    unsup
6962       neg
53704    unsup
78972    unsup
20814      pos
43266      pos
34863      neg
         ...
56643    unsup
16639      pos
86908    unsup
20026      pos
15905      pos
8170       neg
60966    unsup
95083    unsup
21418      pos
51879    unsup
85620    unsup
41084      pos
72084    unsup
51930    unsup
32031      neg
11071      neg
70703    unsup
35541      neg
43595      pos
33201      neg
53922    unsup
44295      pos
80232    unsup
33867      neg
84434    unsup
31019      neg
44566      pos
95816    unsup
72173    unsup
89256    unsup
Name: label, Length: 75000, dtype: object

In [7]:

#Import CountVectorizer for feature extraction
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [8]:
print(vect)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [9]:
#Define document term matrix using CountVectorizer
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [10]:
print(X_train_dtm)

  (0, 112530)	1
  (0, 50746)	1
  (0, 54791)	1
  (0, 122395)	1
  (0, 24577)	1
  (0, 77827)	1
  (0, 80171)	1
  (0, 119151)	1
  (0, 20029)	1
  (0, 118287)	1
  (0, 122377)	1
  (0, 33461)	1
  (0, 5085)	1
  (0, 3801)	1
  (0, 36944)	1
  (0, 112772)	1
  (0, 111785)	2
  (0, 1690)	1
  (0, 113416)	1
  (0, 41560)	1
  (0, 97871)	1
  (0, 123267)	1
  (0, 65674)	1
  (0, 91523)	1
  (0, 126067)	1
  :	:
  (74999, 65669)	1
  (74999, 124266)	1
  (74999, 79665)	9
  (74999, 124896)	1
  (74999, 113759)	6
  (74999, 47282)	1
  (74999, 74633)	1
  (74999, 104614)	1
  (74999, 80144)	6
  (74999, 123515)	1
  (74999, 15206)	14
  (74999, 112453)	24
  (74999, 57956)	8
  (74999, 17214)	4
  (74999, 11067)	1
  (74999, 78650)	6
  (74999, 122300)	4
  (74999, 41190)	3
  (74999, 112826)	9
  (74999, 48080)	1
  (74999, 5754)	8
  (74999, 55557)	4
  (74999, 43862)	3
  (74999, 58139)	9
  (74999, 112424)	7

In [11]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [12]:
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
y_pred_class = nb.predict(X_test_dtm)

In [14]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.5978

In [15]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[4213,  341, 1707],
       [ 512, 3947, 1921],
       [3660, 1914, 6785]])