In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('imdb_master.csv', encoding = "ISO-8859-1")

In [5]:
df.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

In [6]:
del df['Unnamed: 0']

In [7]:
del df['file']

In [8]:
df = df.loc[0:49999]

In [9]:
a = df['label'].value_counts()

In [10]:
a

pos    25000
neg    25000
Name: label, dtype: int64

In [11]:
df.head()
df = df.sample(frac=1).reset_index(drop=True)

In [12]:
train = df.loc[0:34999]

In [13]:
test = df.loc[35000:]

In [14]:
del train['type']
del test['type']

In [15]:
train.head()

                                              review label
0  Writers Perry and Randy Howze crafted a very e...   pos
1  Clearly this would have had potential in more ...   neg
2  The movie that i am going to review is a littl...   pos
3  Old horror movies are interesting, plenty of s...   pos
4  I watched this movie recently mainly because I...   neg

In [16]:
test.head()

                                                  review label
35000  I spent almost two hours watching a movie that...   neg
35001  I didn't know Willem Dafoe was so hard up for ...   neg
35002  Delightful! It never pretends to be a masterpi...   pos
35003  Watch the Original with the same title from 19...   neg
35004  This is a great show despite many negative use...   pos

In [17]:
train_data = train['review']

In [18]:
test_data = test['review']

In [19]:
train_labels = train['label']

In [20]:
test_labels = test['label']

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(ngram_range=(1,3), binary=True)

In [22]:
X_train_dtm = vect.fit_transform(train_data)
X_test_dtm = vect.transform(test_data)

In [23]:
train_labels = train_labels.map({'pos': 1, 'neg': 0})

In [24]:
test_labels = test_labels.map({'pos': 1, 'neg': 0})

In [25]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [26]:
nb.fit(X_train_dtm, train_labels)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
y_pred_class = nb.predict(X_test_dtm)

In [28]:
from sklearn import metrics
metrics.accuracy_score(test_labels, y_pred_class)

0.8946666666666667

In [29]:
metrics.confusion_matrix(test_labels, y_pred_class)

array([[6830,  658],
       [ 922, 6590]])

In [30]:
#Bad reviews classified as Good reviews
test_data[test_labels < y_pred_class].head(10)

35020    I literally ran to watch it, expecting a film ...
35046    This is strictly a review of the pilot episode...
35170    Bela Lugosi plays Dr. Lorenz who loves his wif...
35172    Over acted, heavy handed, full of speeches, pr...
35174    "A death at a college campus appears to be a s...
35190    Saboteur was one of the few Hitchcocks I had y...
35221    Slow and riddled with inaccuracy. Over-looking...
35226    I admit the problem I have with the much-celeb...
35227    To some of us, director Ernst Lubitsch, adored...
35229    I was thrilled by the fresh (pun intended) syn...
Name: review, dtype: object

In [31]:
test_data[35002]

'Delightful! It never pretends to be a masterpiece, but it\'s a mini-gem of late seventies British comedy. Given that the producers wanted to sell it abroad, it stars an American (the late character actor Richard Jordan), but at least he isn\'t the usual dull Hollywood hunk type. Surrounding him is the cream of British character acting talent, led by a wonderfully waspish and superior David Niven.<br /><br />Niven\'s Ivan the Terrible naturally gets the best one liners and all the best reaction shots. He also manages to be surprisingly menacing and intimidatingly dangerous. The moment in the snooker club when he drops the charming facade and threatens Richard Jordan will come as a shock to those viewers who think of Niven as being only a light drawing room comedy star. He is filled with genuine power and ruthlessness as we see all at once how Ivan earned his nickname. All the more surprising given how ill Niven was at the time. Shortly after filming this production he lost his powers of speech to Amyotrophic Lateral Sclerosis (known as Lou Gehrig\'s disease). This is the last picture Niven made where you can hear his own voice, being dubbed thereafter by the comic impressionist Sid Caesar.<br /><br />Alongside him you can spot numerous familiar faces from seventies cinema and television. Elke Sommer (flashing her breasts in true seventies era politically incorrect bimbo mode), Oliver Tobias, Michael Angelis, Brian Croucher, Davy Kaye etc, etc. Davy Kaye gets one of the biggest laughs as he holds up a security guard caught making a phone call. "Who you ringing?!....Bloody Dial-A-Disc! You gormless git!" <br /><br />Great shots of London street locations; making the film a period patina time capsule of red phone boxes with chunky round-dial manual handsets, black cabs driven by "Cor blimey, gov!" cockneys, and ladies and gents modelling all manner of deeply dodgy late seventies retro leisure wear and hair styles. <br /><br />Unlike the classic Ealing comedies of an earlier era, the \'hero\' is allowed to get away with his crime and escape to a life in the sun. How times had changed! The morality code by which crooks in films always had to be seen to be punished had long gone by the seventies, with anti-heroes like Pinky Green earning status through their cheeky anti-authoritarianism and determination to \'cock a snook\' at a stuffy capitalist establishment of be-suited fat cat businessmen. We are encouraged to cheer as Pinky makes off, unpunished and free as a bird with his ill gotten gains. Compare that to the ending of The Lavender Hill Mob!<br /><br />Highly entertaining, quaintly dated in its fashions and attitudes, and the stuff of late night cult viewing. Perfect to watch at midnight after the pubs have shut; if you\'re of a certain age, are feeling a touch nostalgic, and have always wanted to see David Niven in a branch of McDonalds, silently intimidating an American via the use of a retractable telescope!'

In [32]:
#Good reviews classified as Bad reviews
test_data[test_labels > y_pred_class].head(10)

35004    This is a great show despite many negative use...
35022    <br /><br />Very good 1970s movie about mob op...
35029    One thing that came across to me in watching t...
35044    When I saw the Exterminators of year 3000 at f...
35059    I really thoroughly enjoyed this movie. For on...
35085    I liked the movie a real lot. Wanted to see it...
35094    I liked the quiet noir of the first part, the ...
35100    Scary in places though the effects did leave s...
35122    Every now and then a movie advertises itself a...
35155    "... the beat is too strong ... we're deaf mut...
Name: review, dtype: object

In [33]:
test_data[35004]

'This is a great show despite many negative user reviews. The aim of this show is to entertain you by making you laugh. Two guys compete against each other to get a girl\'s phone number. Simple. The fun in this show is watching the two males try to accomplish their goal. <br /><br />Some appear to hate the show for various reasons, but I think, they misunderstood this as an "educational" show on how to pick up chicks. Well it is not, it is a comedy show, and the whole point of it is to make you laugh, not teach you anything. If you didn\'t like the show, because it doesn\'t teach you anything, don\'t watch it. If you don\'t like the whole clubbing thing, don\'t watch it. If you don\'t like socializing don\'t watch it. This show is a comical show. If you down by watching others pick up girls, well its not making you laugh, so don\'t watch it. If you are so disappointed in yourself after watching this show and realizing that you don\'t have the ability to "pick-up" girls, there is no reason to hate the show, simply don\'t watch it!'